.app.dark {
  --bg-color: #020267;
  --inverted-bg-color: #dcdcf6;

  --primary-color: #03d203;
  --secondary-color: #01af01;
  --inverted-primary-color: #1007d7;
  --inverted-secondary-color: #4778f8;
}