.app.light {
    --bg-color: #dcdcf6;
    --inverted-bg-color: #020267;
    --primary-color: #1007d7;
    --secondary-color: #0f49cc;
    --inverted-primary-color: #03d203;
    --inverted-secondary-color: #65fa65;
}
